@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.nav-link {
  padding: 0;
}

.menu-alt-icon {
  background-color: #20313b;
  padding: 1.2rem 1.8rem;
}

.nav-wrap {
  padding: 0 4rem;
}

.nav-item {
  margin: 0 0 0 1.2rem;
}

.nav-link {
  color: #1d2e39;
}

.heading {
  color: #20313b;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}

ul {
  list-style: none;
}

/******************************* Home section *******************************/
.section__container {
  width: 100%;
}
.home__section {
  background-image: url("./images/pexels-belle-co-846350.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 670px;
  margin: 0 4.4rem;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.home__heading,
.destination__heading,
.special-heading,
.blog-heading {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}

.vertical-text {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.home__left {
  width: 10px;
  padding-top: 7rem;
}

.home__socials i {
  margin-left: 1.6rem;
  padding-bottom: 1.2rem;
}

.home__left p {
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.home__left p:nth-child(2),
.home__socials {
  margin-top: 5rem;
}

.home__forms {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1.8rem 1.2rem;
}

.home__input {
  width: 150px;
  outline: none;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
}

.btn {
  background-color: #27333b;
  padding: 0.3rem 2.5rem;
  color: white;
  font-size: 0.9rem;
  margin-top: 25px;
}

.home__heading {
  font-size: 3.6rem;
}

p.fw-semibold {
  font-size: 0.8rem;
}

.home__subheading {
  font-size: 0.88rem;
}

/******************************* Destination section *******************************/
.section {
  padding: 0 5rem;
}

.destination__heading {
  margin-top: 6rem;
  font-size: 2.3rem;
}

.arrow-left,
.arrow-right {
  border: 3px solid #20313b;
  border-radius: 40px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #20313b;
  color: #fff;
  transition: ease 0.6s;
}

.destination__section__tab {
  position: relative;
}

.destination__section__tab::before {
  content: "";
  height: 8px;
  width: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
}

.tab-active {
  position: relative;
}

.tab-active::before {
  content: "";
  height: 8px;
  width: 100%;
  background-color: #20313b;
  border-radius: 10px;
  position: absolute;
  bottom: -14px;
}

.images-container img {
  width: 350px;
  height: 490px;
  /* padding: 0.8rem 1rem; */
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.slider-container img {
  width: 380px;
  height: 500px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.offers__section {
  padding: 0 3rem;
}

.special-offers,
.blog-section,
.section__testimonial {
  margin-top: 10rem;
}

.images-scroll::-webkit-scrollbar {
  display: none;
}

.images-scroll {
  display: flex;
  overflow: auto;
}

.img-title {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.image-description {
  background-color: #20313b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.video-container video {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.blog-video {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  padding: 1.5rem 1.7rem;
}

.blog-img {
  width: 120px;
  height: 150px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.blog_paragrahp {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ccc;
}

.section__blog,
.testimonial__section {
  padding: 0 7.6rem;
}

.blog__container {
  margin-top: 70px;
}

.blogger__name {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ccc;
}

/******************************* Testimonial section *******************************/
.section__testimonial {
  padding: 0 7.7rem;
}

.testimonial-img-1 {
  height: 100%;
}

.testimonial-img-1,
.testimonial-img-2 {
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}

.blog__card {
  width: 255px;
}

.blog__card-two {
  width: 230px;
}

.blog__card,
.blog__card-two {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.48);
}

.testimonial {
  text-align: center;
  padding: 0.2rem 3rem;
}

.testimonial p {
  font-size: 0.9rem;
}

.quotation-mark {
  background-color: white;
  padding: 0rem 1.7rem;
  border-radius: 100px;
  width: 40px;
  line-height: 1;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

/******************************* Footer section *******************************/
.footer-section {
  margin: 20rem 3.5rem 2rem 3.5rem;
  padding-bottom: 4rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #20313b;
}

.footer__subscribe {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  border-top-left-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;
}

.subscribe__input input {
  border: 0;
  outline: none;
  background-color: #dee0e2;
}

.subscribe__input {
  background-color: #dee0e2;
  padding: 0.4rem 2.6rem 0.4rem 1rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

button[type="submit"] {
  border: none;
  background-color: #20313b;
  color: white;
  font-weight: bold;
  padding: 0.3rem 2.5rem;
  border-radius: 10px;
}

.subfooter {
  padding-top: 13rem;
}

.footer__heading {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.contact,
.email {
  font-size: 0.88rem;
  color: #ccc;
}

.list-item {
  font-size: 1.15rem;
}
