@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.nav-link {
  padding: 0;
}

.menu-alt-icon {
  background-color: #20313b;
  padding: 1.2rem 1.8rem;
}

.nav-wrap {
  padding: 0 4rem;
}

.nav-item {
  margin: 0 0 0 1.2rem;
}

.nav-link {
  color: #1d2e39;
}

/******************************* Home section *******************************/
.section__container {
  width: 100%;
}
.home__section {
  background-image: url("./images/pexels-belle-co-846350.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 90vh;
  margin: 0 4.4rem;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.home__heading,
.destination__heading,
.special-heading,
.blog-heading {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.vertical-text {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.home__left {
  width: 10px;
  padding-top: 7rem;
}

.home__socials i {
  margin-left: 1.6rem;
  padding-bottom: 1.2rem;
}

.home__left p {
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.home__left p:nth-child(2),
.home__socials {
  margin-top: 5rem;
}

.home__forms {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1.8rem 1.2rem;
}

.home__input {
  width: 150px;
  outline: none;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
}

.btn {
  background-color: #27333b;
  padding: 0.3rem 2.5rem;
  color: white;
  font-size: 0.9rem;
  margin-top: 25px;
}

.home__heading {
  font-size: 3.6rem;
}

p.fw-semibold {
  font-size: 0.8rem;
}

.home__subheading {
  font-size: 0.88rem;
}

/******************************* Destination section *******************************/
.section {
  padding: 0 5rem;
}

.destination__heading {
  margin-top: 6rem;
  font-size: 2.3rem;
}

.arrow-left,
.arrow-right {
  border: 3px solid #20313b;
  border-radius: 40px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.active {
  background-color: #20313b;
  color: #fff;
}

.destination__section__tab {
  position: relative;
}

.destination__section__tab::before {
  content: "";
  height: 8px;
  width: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
}

.tab-active {
  position: relative;
}

.tab-active::before {
  content: "";
  height: 8px;
  width: 100%;
  background-color: #20313b;
  border-radius: 10px;
  position: absolute;
  bottom: -14px;
}

.images-container img {
  width: 350px;
  height: 490px;
  /* padding: 0.8rem 1rem; */
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.slider-container img {
  width: 380px;
  height: 500px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.special-offers,
.blog-section {
  margin-top: 10rem;
}

.images-scroll::-webkit-scrollbar {
  display: none;
}

.images-scroll {
  display: flex;
  overflow: auto;
}

.img-title {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.image-description {
  background-color: #20313b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.video-container video {
  width: 700px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.video-container {
  margin-left: 100px;
}
